:root {
  --primary-color: #212529;
  --secondary-color: #ffffff;
  --third-color: #e1f4f3;
  --fourth-color: #706c61;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: "Dosis", sans-serif;
  --heading-font-family: "Ubuntu", sans-serif;
}

body {
  background: var(--secondary-color);
  font-family: var(--default-font-family);
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

.arrow {
  font-size: 200px;
}
button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.container {
  margin: 100 auto;
  width: 100%;
}
.construction-hat {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.hero {
  display: block;
  text-align: center;
  padding: 180px 0;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
}

.subhero {
  display: block;
  text-align: center;
  padding: 40px 0;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
}

.hero h1 {
  font-weight: 700;
  font-size: 80px;
}

.hero h2 {
  font-weight: 500;
  font-style: italic;
}

.subhero h1 {
  font-weight: 600;
  font-size: 60px;
}
.description-block {
  padding: 20px;
}
.contact-page {
  text-align: right;
}
.alert-construction {
  display: flex;
  justify-content: center;
  background-color: var(--third-color);
  border-color: var(--primary-color);
  border-radius: 4px;
  border-style: double;
}

.fa-helmet-safety {
  font-size: 100px;
}

.icons {
  font-size: 100px;
}
.mainpage-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.contact-link {
  border-radius: 4px;
  padding: 20px 80px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.weather-app-photo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-media {
  text-align: right;
}

.work {
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .hero {
    padding: 90px 0;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 18px;
  }
}
